/JavaDir/ru/mai/
/JavaDir/ru/mai/*
/myFiles/*
./ProjectKey.xml
*.class
/out/**
/out/
*/input.txt
*/output*
*/out/**
out/**
*.conf
.idea/workspace.xml
.idea/shelf/Uncommitted_changes_before_Update_at_2_26_2021_5_53_PM__Default_Changelist_.xml
InformationSystem.jar
JavaDir/.idea/JavaDir.iml
JavaDir/.idea/misc.xml
JavaDir/.idea/**
javaFx/lib/src.zip
out/production/**
.idea/workspace.xml
out/production/InformationSystem/informationsystem/FXMLDocumentController.class
out/production/InformationSystem/informationsystem/FXMLDocument.fxml
out/production/InformationSystem/informationsystem/FXMLDocument.fxml
out/production/InformationSystem/informationsystem/FXMLDocumentController.class
pylint/__pycache__/**
