*.iml
.idea
out
/JavaDir/ru/mai/**
/myFiles/**
./ProjectKey.xml
*.class
/out/**
*/input.txt
out/**
InformationSystem.jar
JavaDir/.idea
javaFx/lib/src.zip
pylint/__pycache__/**
JavaDir/__pycache__/**

